:root {
    --color-primary-color: #333333;
    --color--iconColor-two: #A2A8B1;
    --color-primary-text: #C4C4C4;
    --text-color-secondary: #929292;
    --color-input-border: #E7EAED;
    --button-color-01: #FFD600;
    --color-white: #fff;
    --color-card-bg-01: #F2F4F6;
    --color-card-bg-02: #4B4C4D;
    --color-separate-line: #E0E4E8;
}
